*{
	box-sizing: border-box;
}
body,html{
	font-size: 20px;
	margin: 0;
	padding: 0;
	}
/*navbar*/
.navbar{
	background-color:rgb(255, 194, 102)!important;
	border-bottom: 2px solid rgba(13, 96, 38,0.9);
	}
a.col:focus,a.col:hover{
	color: red!important;
	background-color: rgb(174, 247, 163)!important;
}
/*end of navbar*/
/* home*/

.jumbotron{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
 /*height: 100%;*/
 height: 100vh;
  /*width:100%;*/
    background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10rem;
  background-position: center;
  text-align: center;
  margin: 0 auto;
}

.jumbotron h1{
  font-family: "Monoton";
  font-size: 6rem;
}

.jumbotron p{
  width: 70%;
  margin: 0 auto;
  font-size: 1.6rem;
}

.jumbotron.bike{
background: url(../../image/img_home_1.jpeg) ;
background-size: cover;
}
.jumbotron.beer{
background: url(../../image/img-home-2.jpg) ;
background-size: cover;
}
.jumbotron.flowers{
background: url(../../image/img_home_3.jpeg) ;
background-size: cover;
}
.jumbotron.duffel{
background: url(../../image/img_home_4.jpeg) ;
background-size: cover;
}
.jumbotron.eating{
	background: url(../../image/img-home-5.jpg);
	background-size: cover;
}
.jumbotron.enjoy{
	background: url(../../image/image_home_11.jpeg);
	background-size: cover;
}
/* end of home*/
/* introduction*/
.folder{
	padding: 5% 0 5% 0;
}
.section-heading h1{
	color: rgb(13, 96, 38);
	font-family:'Cookie', cursive!important;
	padding-bottom: 2%;
}
.story h3{
	color: orange!important;
}
.story i.fa{
	color:orange;
}
.story:hover{
	background-color: rgba(0,0,0,0.1);
	border-radius: 5%;
	border:1px solid green;
}
#phone{
	background-color: rgb(255, 153, 51);
}

/*
end of introduction*/
/* our chef*/
.cooker{
	background-color: rgb(255, 255, 179);
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 1rem;
}
.cooker img{
	width:100%;
	height: 200px;
}
.cooker h5,.gal h5{
	padding-top:5%;
	}
.cooker:hover{
	background-color: rgba(66, 147, 100,0.4);
}
.clean{
	color:rgb(61, 104, 32)!important;
}
/*end of chef*/
/*customer review*/
.zoom{
	background: url(../../image/img_home_8.jpeg) center  no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/* food section*/

.gal{
	background-color: rgb(255, 214, 153);
	margin-bottom: 1rem;
}
.gal img{
	width:100%;
	height:200px;

}
/*end of food section*/
/*Events*/
#occasion{
	background-color: rgb(229, 219, 199)rgb(229, 219, 199);
}
.event{
	border: 1px solid rgb(69, 104, 32);
	border-radius: 2%;
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 1rem;
	line-height: 1.6rem;
	padding:5%;
}
.event h2{
	font-size: 1.5rem;
}
.event h3{
	font-size: 1.2rem;
}
.event h4{
	font-size: 1rem;
}
.event:hover{
	background-color: rgba(0,0,0,0.1);
}
.event p,.event h3{
	color:rgb(6, 160, 52);
}
.happy{
	color:rgb(219, 150, 46)!important;
}
/*end of events*/
/*contact*/
#contact{
	background-color: rgb(255, 214, 153);
}
/*end of contact*/

/* Google map */
#map{
	width: 100%;
	height:35rem;
	
	}
/*footer*/
#foot{
	background-color: rgb(221, 192, 133);
	width: 100%;
	text-align: left;
	padding-top: 20px;
	padding-left: 100px;
}
.hour p{
	border-bottom: 1px solid rgb(92, 117, 10);
}
#foot p{
	color:rgb(229, 126, 9)!important;
}
/*end of footer*/
/* check*/
h2 {
    font-weight: 500;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
h2:before{
    content: "";
    position: absolute;
    width: 45%;
    height: 2px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid rgb(158, 244, 66);
}
/*media query*/
@media only screen and (max-width: 480px){
	body,html{
		font-size: 16px;
		}
	
	.jumbotron{
	width:100%;
    height:50vh;
    border:1px solid red;
    margin: 0 auto;
	}
	.jumbotron h1{
  	font-family: "Monoton";
  	font-size: 2rem;
}
.jumbotron p{
	font-size: 1rem;
}
.folder{
	padding: 3% 0 3% 0;
}
.section-heading h1,.up{
	font-size: 2rem!important;
	color:blue!important;
	}
	
}	
@media only screen and (min-width: 481px) and (max-width: 768px){
	body,html{
		font-size: 18px;
	}
.jumbotron{
		width: 100%;
		height:80vh;
		margin: 0 auto;
		border: 5px solid green;
     
  }
	.jumbotron h1{
  	font-family: "Gerogia";
  	font-size: 4rem;
  	color:red;
  	padding-top:4rem;
}
.jumbotron p{
	font-size: 1.5rem;
	padding-bottom:5rem;
}
.folder{
	padding: 3% 0 3% 0;
}
}